body{
    height: 100%;
}
.main-box{
    width: 50vw;
    height: 80vh;
    margin: 7vh 0 0 25vw;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: white 2px solid;
    border-radius: 5px;
}
h1,h4,button{
    margin-top: 20px;
}